:root {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
body {
   background-color: mistyrose;
}

nav ul {
    display: inline-flex;
    list-style-type: none;
    justify-items:center;
    padding-bottom: 20px;
    font-size: 20px;
    font-family: monospace;
    margin-top: 5%;
    background-color: darkslategray;
}
nav li {
    min-width: 150px;
    justify-content: center;
}
#picContainer {
    flex-direction: column;
    line-height: 1.3;
    justify-content: space-between;
    padding: 1%;
    margin-top: 10px;
}
#profile-picture {
    border-radius: 50%;
	width: 150px;
	height: 150px;
	box-shadow: 0 4px 6px 0;
    display: inline;
    margin-top: 10px;
}
h4 {
    font-family: cursive;
    font-style: italic;
    font-size: 25px;
}
h1 {
    font-family: cursive;
    font-size: 50px;
    display: inline;
    font-style: italic;
    color: peru;
}
h2 {
    font-family: cursive;
    font-style: italic;
    font-size: 25px;
}
h3 {
    font-family: cursive;
    font-style: italic;
    font-size: 25px;
}
#resume {
    font-family: cursive;
    font-style: italic;
    font-size: 25px;
}
#knowme {
    padding-top: 100px;
    flex-direction: column;
    margin-bottom: 10px;
}
p {
    display: inline-block;
    justify-content: end;
    margin-right: 80px;
}
a {
    text-decoration: none;
}
p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 200px;
}
#projects {
    margin-left:0;
    display: flex;
    font-size: 30px;
    display: inline;
}
#project-image1 {
    width: 600px;
    height: 800px;
}
.container {
    position: relative;
    width: 60%;
}
.container img {
    margin-top: 100px;
    width: 50%;
    height: 50%;
}
.container .btn1 {
    position: absolute;
    top: 75%;
    left: 25%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: blanchedalmond;
    width: 180px;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 5px 6px 5px dimgrey ;
}
/* style of date night button to rotate */
.btn1:hover {
    transform: rotateX(30deg) rotateZ(20deg)
}
.container .btn2 {
    position: absolute;
    top: 70%;
    left: 25%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: violet;
    width: 180px;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 5px 6px 5px palevioletred;
}
/* style of note taker button to rotate */
.btn2:hover {
    transform: rotateX(30deg) rotateZ(20deg)
}
#cv {
    margin-top: 125px;
    margin-bottom: 0px;
}
#resume {
    margin-left: 60px;
    font-size: 20px;
    font-weight: bold;
}
#contact {
    margin-top: 50px;
}
#contact ul {
    display: inline-flexbox;

}

footer {
    font-size: 25px;
    font-family: cursive;
    text-align: center;
    font-weight: bold;
    color: darkolivegreen;
}
/* media screen for mobile responsiveness */
@media screen and (max-width: 768px) {
    main,
    nav {
     flex-direction: column;   
    }
    ul {
     flex-direction: column;
    }
    section {
        order: 2;
        flex-direction: column;
    }
    header {
        background-color: red;
        flex-direction: column;
    }
    .container{
       display: flexbox;
      }
    h4 {
     flex-direction: column;
    }
    p {
        flex-direction: column;
        background-color: olive
    }
    img {
        flex-direction: column;
    }
}
