:root {
    background-color: mistyrose;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    justify-content: space-between;
    padding: 1%;
}
a {
    text-decoration: none;
}
#profile-picture {
    border-radius: 50%;
	width: 150px;
	height: 150px;
	box-shadow: 0 4px 6px 0;
    display: inline;
}
h1 {
    font-family: cursive;
    font-size: 50px;
    display: inline;
}
h4 {
    font-size: 25px;
}
nav ul {
    display: flex;
    margin: auto;
    float: right;
    padding-bottom: 50px;
    font-size: 20px;
    font-family: monospace;
}
nav li {
    list-style-type: none;
    min-width: 150px;
}

p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 200px;
}
h2 {
    margin: 100px 0px 100px 400px;
    display: flex;
    align-items: center;
    background-color: blueviolet;
}
#project-image1 {
    width: 600px;
    height: 500px;
   
}
.container {
    position: relative;
    width: 60%;
}
.container img {
    width: 40%;
    height: 40%;
}
.container .btn {
    position: absolute;
    top: 85%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: crimson;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.projects {
    background-color: mediumvioletred;
}
#cv {
    margin-top: 125px;
    margin-bottom: 0px;
}
#resume {
    margin-left: 60px;
}
#contact {
    margin-top: 50px;
}
ul {
    list-style-type: none;
    margin-top: 0;
}
footer {
    font-size: 25px;
    font-family: cursive;
    text-align: center;
    font-weight: bold;
    color: darkolivegreen;
}
@media screen and (max-width: 992px) {
    header {
    background-color: red;
    }
}
@media screen and (max-width: 768px) {
    p {
      background-color: olive
    }
  }
@media screen and (max-width: 576px) {
    .container{
      background-color: blue;
    }
  }
  